.navbar {
  padding: 2rem;
  background-color: transparent;
}

.navbar .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar .container .navbar-menu a:first-child {
  margin-right: 1rem;
}
